@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

//colors
$statusText: hsl(276, 100%, 81%);
$dogWalkerText: hsl(276, 55%, 52%);
$dogWalkerBg: #ede4f5;
$dogOwnerText: hsl(271, 15%, 43%);
$placeholderText: hsl(206, 6%, 79%);
$mainHeading: hsl(271, 36%, 24%);
$bodyText: hsl(270, 7%, 64%);

$gradient: hsl(293, 100%, 63%), hsl(264, 100%, 61%);

$appBg: hsl(270, 20%, 96%);
$sendBtn: hsl(271, 36%, 24%);
$radioBtn: hsl(289, 100%, 72%);

$white: hsl(0, 0%, 100%);

//font-family
$font-family: "Rubik", sans-serif;